---
- name: Configurar banner en Routers Cisco
  hosts: cisco
  tasks:

  - name: Añadir Banner
    ios_banner:
      banner: login
      text: |
        Hola Mundo! Si estás 
        leyendo esto significa que
        la ejecución del playbook
        fue correcta y podemos
        seguir adelante.
      state: present
